/* Body */
/* .body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
} */

/* Debuggings section */
.box {
  height: 80vh;
  width: 50%;
}

.box-1 {
  background-image: url(../img/banner-image.png);
  background-size: cover;
  background-position: center;
}

.box-2 {
  background-image: url(../img/banner-bg.png);
  background-size: cover;
  background-position: center;
}

.container > h1 {
  line-height: 68px;
}

.container > p {
  line-height: 35px;
  margin-top: 25px;
}

.container > button {
  height: 60px;
  width: 258px;
  margin-top: 25px;
  background-color: transparent;
  border: 1px solid black;
}
