/* Body */
/* .body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
} */

/* Header */
.navbar-logo {
  height: 50px;
  width: 50px;
}

/* Debuggings section */
.box {
  height: 80vh;
  width: 50%;
}

.box-1 {
  background-image: url(../img/banner-image.png);
  background-size: cover;
  background-position: center;
}

.box-2 {
  background-image: url(../img/banner-bg.png);
  background-size: cover;
  background-position: center;
}

.container > h1 {
  line-height: 68px;
}

.container > p {
  line-height: 35px;
  margin-top: 25px;
}

.container > button {
  height: 60px;
  width: 50%;
  margin-top: 25px;
  background-color: transparent;
  border: 1px solid black;
}

/* Info's section */
.tab-img {
  height: 350px;
  width: 300px;
}
/* Collection section */

#collection {
  background-color: #f8f8f8;
  margin-top: 120px;
  padding-bottom: 100px;
}

.item {
  height: 85%;
  width: 85%;
}

span {
  color: #0fe072;
  font-weight: 700;
  font-size: x-large;
}

.price-tag {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.type-duck {
  font-size: x-large;
  font-weight: 500;
  margin: 0;
}

/* FAQs section */

.promo {
  height: 610px;
  width: 100%;
}

/* Footer */

#footer-page {
  margin-top: 100px;
  background-color: #f8f8f8;
  padding-top: 30px;
}

.form-control {
  color: #f8f8f8;
}
